[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"

[dev-packages]
flake8 = "*"
flake8-commas = "*"

[requires]
python_version = "3.8"
